@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body {
  background: #d8e7fb;
  font-family: Arial, Helvetica, sans-serif;
}
.link-primary , .btn-primary{
  width:100% ;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 2px;
  border-radius: 0.375rem /* 6px */;

}

/* .btn-primary .black{
  background-color: black;
  color: white;
} */

/* .btn-primary .white{
  background-color: white;
  color: black;
  border: 1px solid gray;
} */